<% include partials/header.ejs%>
<div class="container margin-top-30">
    <div class="col-md-12">
        <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Market Cap
                    </th>
                    <th scope="col">
                        Price
                    </th>
                    <th scope="col">
                        Circulating Supply
                    </th>
                </tr>

                </thead>
                <% for (var i = 0; i < tickers.length; i++) { %>
                <tr>
                    <td scope="col"><%= tickers[i].name %></td>
                    <td scope="col"><%= tickers[i].market_cap_usd %></td>
                    <td scope="col"><%= tickers[i].price_usd %></td>
                    <td scope="col"><%= tickers[i].total_supply %></td>
                </tr>
                <% } %>
            </table>
    </div>
</div>

<% include partials/footer.ejs%>