<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title  %></title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/header.css">
        <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/public/css/pretty-checkbox.min.css">
        <link href="/public/css/custombox.min.css" rel="stylesheet">
        <link href="/public/css/bootstrap-table-sticky-header.css" rel="stylesheet">

        <script src="/public/js/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/public/js/bootstrap-table.js"></script>
        <script src="/public/js/bootstrap-table-filter-control.js"></script>
        <script src="/public/js/bootstrap-table-multiple-sort.js"></script>
        <script src="/public/js/humanize.min.js"></script>
        <!--<script src="/public/js/sticky-header.js"></script>-->
        <script src="/public/js/range-filter.js"></script>
        <script src="/public/js/custombox.min.js"></script>
        <script src="/public/js/details.js"></script>
        <script src="/public/js/responsive.js"></script>
        <script src="/public/js/bootstrap-table-sticky-header.js"></script>


    </head>
    <body>
    <div id="wrapper">
        <div id="header" class="header col-md-12 margin-left-10 margin-bottom-20">
            <h1 class="title">Crypto List</h1>
        </div>
    <% include github.ejs%>