<div class="margin-top-70 range-filter">
    <div class="col-md-12">
        <div class="col-md-2"><label> Min Price : </label> </div>
        <div class="col-md-2"><input type="text" id="price_min"> </div>
        <div class="col-md-2"> <label> Max Price : </label> </div>
        <div class="col-md-2"> <input type="text" id="price_max"> </div>
    </div>
    <div class="col-md-12" style="top: 5px">
        <div class="col-md-2"><label> Mix Max Supply : </label> </div>
        <div class="col-md-2"><input type="text" id="min_max_supply"></div>
        <div class="col-md-2"><label> Max Max Supply : </label></div>
        <div class="col-md-2"><input type="text" id="max_max_supply"></div>
    </div>
</div>