#footer {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
    bottom:0;
}

#footer .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#footer .row {
    margin-bottom: 60px;
}

#footer .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#footer .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#footer h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#footer a {
    color: #d2d1d1;
    text-decoration: none;
}

#footer a:hover,
#footer a:focus {
    text-decoration: none;
    color: white;
}

#footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#footer .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#footer .social-networks a:hover {
    text-decoration: none;
}

#footer .facebook:hover {
    color: #0077e2;
}

#footer .google:hover {
    color: #ef1a1a;
}

#footer .twitter:hover {
    color: #00aced;
}

#footer .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #footer {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

#wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    flex: 1;
}
