.twitter-timeline {
    height: 300px !important;
    width: 300px !important;
    margin-left: 50px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-right-10 {
    margin-right: 100px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.red {
    color: red;
}

.green {
    color: green;
}