.twitter-timeline {
    height: 300px !important;
    width: 300px !important;
    margin-left: 50px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-70 {
    margin-left: 70px;
}

.margin-right-10 {
    margin-right: 100px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.red {
    color: red;
}

.green {
    color: green;
}

/**
 * @author: Dennis Hernández
 * @webSite: http://djhvscf.github.io/Blog
 * @version: v2.1.1
 */

.no-filter-control {
    height: 34px;
}

.filter-control {
    margin: 0 2px 2px 2px;
}