body {
    color: #ccc;
    background-color: #1F2739;
}

a:hover {
    color: #337ab7 !important;
    text-decoration: none;
}

#footer {
    bottom: 0;
}

.title {
    color: #009ECE;
    text-decoration: none;
}
.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-70 {
    margin-top: 70px;
}
.margin-left-70 {
    margin-left: 70px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 100px;
}

.text-align-left {
    text-align: left;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
.text-align-right {
    text-align: right;
}

.modal-heading {
    margin-top: 40px;
}

.header {
    height: 30px;
    margin-bottom: 20px;
}

.filter-control> input {
    font-size: 10px !important;
    font-weight: bolder;
    border: 3px solid #005172;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 0;
}

.table {
    border-collapse: collapse;
    border: #b8d1f3 1px solid

}

.table tr:nth-child(even) {
    background-color: #dae5f4;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table th {
    color: white;
    font-size: 10px !important;
    font-weight: 900;
    background-color: slategrey;
    border: #b8d1f3 1px solid;
}

th {
    vertical-align: top !important;
}

.table tbody {
    font-weight: 500;
}

.table td {
    color: #005172;
    border: #b8d1f3 1px solid
}

input {
    display: block;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #E8E8EE !important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.range-filter {
    text-align: right;
    float: right;
    margin-top: 10px;
    margin-left: 1px;
}

.small-font {
    font-size: 12px;
}

.modal-footer {
    border-top: none;
}

#currency-detail-modal-title {
    text-transform: capitalize;
}

#currency-detail-body {
    background-color: #009ECE;
    color:#005172;
    font-weight: bolder;
}

.hide-mobile {
    display: none;
}

.table>thead>tr>th {
    vertical-align: top !important;
}

td.details {
    cursor: pointer !important;
    text-decoration: underline;
}


@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading {
    width: 100px;
    height: 100px;
    margin: auto;
}
.loading__ring {
    position: absolute;
    width: 100px;
    height: 100px;
}
.loading__ring:first-child {
    -webkit-transform: skew(30deg, 20deg);
    transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
    -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
    transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.loading__ring svg {
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
    fill: rgba(0, 0, 0, 0.2);
}

.red {
    color: #cc0000 !important;
}

.green {
    color: rgb(106, 170, 36) !important;
}

.gold {
    color: darkgoldenrod !important;
}

#currency-detail{
    background-color: #009ECE;
    height: 200px;
}
.coin_summary_bar {
    border-radius: 6px;
}

.name_rank_container {
    vertical-align: top;
    height: 138px;
}

.rank_flag {
    background-color: #ffd700;
    margin: 0 14px;
    top: -2px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.rank_flag_text {
    color: #005172;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 46px;
}

.rank_flag_desc {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.rank_flag_trig {
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-bottom: 27px solid #009ECE;
}

.coin_name_buttons_container {
    display: inline-block;
    vertical-align: top;
}

.coin_name_buttons_name {
    margin: 0 15px;
    color: white;
    vertical-align: middle;
    font-size: 30px;
    position: relative;
    top: -2px;
    font-weight: 500;
}

.coin_name_buttons_symbol {
    color: #ccc;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 400;
}


.coin_market_info_container {
    vertical-align: top;
    display: inline-block;
    height: 138px;
    margin: 16px 0;
}


.coin_market_info_price {
    font-weight: 500;
    font-size: 30px;
}

.coin_market_info_td, .coin_market_info_th{
    padding-right: 50px;
}

td.coin_market_info_td {
    padding-bottom: 15px;
}

select.form-control {
    background-color: #ccc;
    color: black;
    font-weight: 900;
}