.twitter-timeline {
    height: 300px !important;
    width: 300px !important;
    margin-left: 50px;
}

body {
    color: #ccc;
    background-color: #1F2739;
}

#footer {
    bottom: 0px;
}

.title {
    color: #009ECE;
}
.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-70 {
    margin-top: 70px;
}
.margin-left-70 {
    margin-left: 70px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 100px;
}

.text-align-left {
    text-align: left;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
.text-align-right {
    text-align: right;
}

.red {
    color: red;
}

.green {
    color: green;
}

.modal-heading {
    margin-top: 40px;
}

.header {
    height: 30px;
    margin-bottom: 20px;
}

.filter-control> input {
    font-size: 10px !important;
    font-weight: bolder;
    border: 3px solid #005172;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 0px;
}

.table {
    border-collapse: collapse;
    border: #b8d1f3 1px solid

}

.table tr:nth-child(even) {
    background-color: #dae5f4;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table th {
    color: white;
    font-size: 10px !important;
    font-weight: 900;
    background-color: slategrey;
    border: #b8d1f3 1px solid
}

.table tbody {
    font-weight: 500;
}

.table td {
    color: #005172;
    border: #b8d1f3 1px solid
}

input {
    display: block;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #E8E8EE !important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.range-filter {
    text-align: right;
    float: right;
    margin-top: 10px;
    margin-left: 1px;
}

.small-font {
    font-size: 10px;
}

.modal-footer {
    border-top: none;
}

#currency-detail-modal-title {
    text-transform: capitalize;
}

#currency-detail-body {
    background-color: #009ECE;
    color:#005172;
    font-weight: bolder;
}

.hide-mobile {
    display: none;
}

.table>thead>tr>th {
    vertical-align: top !important;
}

td.details {
    text-decoration: underline !important;
    cursor: pointer !important;
}

/* Animation */
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Loading Icon */
.loading {
    width: 100px;
    height: 100px;
    margin: auto;
}
.loading__ring {
    position: absolute;
    width: 100px;
    height: 100px;
}
.loading__ring:first-child {
    -webkit-transform: skew(30deg, 20deg);
    transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
    -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
    transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.loading__ring svg {
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
    fill: rgba(0, 0, 0, 0.2);
}

