<!-- Modal -->
<div class="modal fade" id="currency-detail" tabindex="-1" role="dialog" aria-labelledby="currency-detail-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="currency-detail-clear-btn-top-right" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 id="currency-detail-modal-title"></h4>
            </div>
            <div class="modal-body" id="currency-detail-body" style="text-align: left;">
                <div class="container-fluid">
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Rank</span>
                        <span class="col-xs-5"  id="currency-detail-rank"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Name</span>
                        <span class="col-xs-5"  id="currency-detail-name"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Symbol</span>
                        <span class="col-xs-5"  id="currency-detail-symbol"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Market Cap</span>
                        <span class="col-xs-5"  id="currency-detail-market_cap_usd"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Price (in USD)</span>
                        <span class="col-xs-5"  id="currency-detail-price_usd"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Available Supply</span>
                        <span class="col-xs-5"  id="currency-detail-available_supply"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Total Supply</span>
                        <span class="col-xs-5"  id="currency-detail-total_supply"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Max Supply</span>
                        <span class="col-xs-5"  id="currency-detail-max_supply"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">Volume (24 hrs)</span>
                        <span class="col-xs-5"  id="currency-detail-24h_volume_usd"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">% Change (1 hr)</span>
                        <span class="col-xs-5"  id="currency-detail-percent_change_1h"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">% Change (24 hrs)</span>
                        <span class="col-xs-5"  id="currency-detail-percent_change_24h"> </span>
                    </div>
                    <div class="row" style="">
                        <span class="col-xs-5" style="color: black">% Change (7 days)</span>
                        <span class="col-xs-5"  id="currency-detail-percent_change_7d"> </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="currency-detail-clear-btn-bottom-right" data-dismiss="modal" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>
